@font-face {
	font-family: dyslexic;
	src:url(fonts/OPENDYSLEXIC-REGULAR.OTF);
}

@font-face {
	font-family: pixel;
	src: url(fonts/YOSTER.TTF);
}

html {
	margin: 0;
	padding: 0;

	min-height: 100vh;
	width: 100vw;

	overflow-x: hidden;

	font-size: 16px;
	font-family: Tahoma, 'Segoe UI', Arial, sans-serif;

	background-image: linear-gradient(#83ac78, #24380a);
	background-repeat: no-repeat;
	background-size: auto;
}

body {
	margin: 1% 5%;
	padding: 0;
}
@media only screen and (min-width: 1200px) {
    body {
		margin: 3% 20%;
	}
}

header {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0 0 18px;
}

p {
	margin: 0;
	padding: 0 0 12px;
}

.banner {
	margin: 0;
	padding: 0 0 25px 0;

	text-align: center;
	text-shadow: 0 10px 10px #296136;

	font-size: 64px;
	font-weight: lighter;	
	font-family: pixel, monospace;

	color: white;
}
@media only screen and (min-width: 1200px) {
    .banner {
		padding: 0 0 25px 0;

		font-size: 75px;
	}
}

.page {
	margin: 0;
	padding: 0 0 0% 0;

	border-radius: 12px;

	background-color: white;
}

.tabs {
	display: flex;

	margin: 0;
	padding: 0;

	font-family: cabin, 'Trebuchet MS', 'Fira Sans', monospace;
	font-size: x-large;
	font-weight: bold;
	
	justify-content: space-around;
	list-style-type: none;

	border-radius: 12px 12px 0 0;

	background-image: linear-gradient(to left, #274592, #74bdc3, #00933d, #e3bc96, #cf1322);
}

.tab {
	cursor: pointer;

	padding: 1% 0 0.5% 0;
	
	flex: 1;

	text-align: center;

	color: white;

	border-radius: 10px 10px 0 0;
	border-bottom: 1.25px dotted black;
}

.tab-content {
	padding: 5% 10% 10%;
	line-height: 1.5rem;
}

.tab-content img {
	box-shadow: 2px 2px 5px grey;
	image-rendering: pixelated;
}

.tab:hover {
	color: black;
	box-shadow: 0px 4px 5px silver;
	background-color: #DDD;
}

.tab.active {
	color: black;
	box-shadow: 0px 4px 5px silver;
	border-bottom: 0;
	background-color: white;
}

[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: block;
}

.centered-pictures {
	display: block;
	margin: auto;
	width: auto;
}

.fold-down {
	summary {
		font-family: pixel, monospace;
		font-size: x-large;
		padding: 12px 0;
	}

	a {
		text-decoration: none;
	}
}

video {
	display: block;
	margin: 0 auto;
	padding: 18px 0;
}